@import '../node_modules/normalize-scss/sass/normalize/import-now';
@import 'https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css';
@import 'base';
@import 'layout';
@import 'nav';

$primary-bg: #000;
$primary-text-color: #FF3B3B;




// Comment Form

.comment-form {
  label {
    color: #FF3B3B;
    display: inline-block;
    padding: 1rem 0;
  }

  ::placeholder {
    color: inherit;

    /*Fix opacity issue on Firefox*/
    opacity: 1;
  }

  select:focus, input:focus, textarea:focus {
    background: hsl(0, 0%, 10%);
  }

  button {
    &:enabled:hover, &:focus {
      background: hsl(0, 0%, 10%);
    }
  }

  input[type="checkbox"]:focus + label {
    background: hsl(0, 0%, 10%);
  }

  textarea {
    height: 170px;
  }

  input, textarea, select, button {
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    color: #afafaf;
    display: inline-block;
    background-color: hsl(0, 7%, 20%);
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 4px;
    padding: 12px 20px;
    box-sizing: border-box;
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
}