@import '../node_modules/normalize-scss/sass/normalize/import-now';
@import 'https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css';

$primary-bg: #000;
$primary-text-color: #FF3B3B;

body {
	background-color: $primary-bg
}

h1,
h2,
h3,
h4,
h5,
p {
	color: $primary-text-color;
}

// Layout
.container{
	width: 100%;
}

// Navigation
nav{
	background-color: $primary-bg;
	display: block;
	width: 100%;
	z-index: 1000;
}

.logo{
	display: block;
	height: 3rem;
	background-size: contain;
	background-repeat: no-repeat;
	width: 3rem;
	margin: 0 auto;
}

