{% extends "layout.njk" %}

{% block content %}
<section class="content-grid">
  <section class="section top left">
    <h2> Welcome To Kink.com</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu felis facilisis, cursus ante sit amet, scelerisque nunc. Praesent vestibulum sapien sem, non rhoncus erat pharetra ac. Suspendisse a odio eget tortor porttitor congue. Nunc congue vehicula est, sit amet maximus odio molestie ac. Vestibulum dolor metus, congue ut quam finibus, ornare efficitur massa. Etiam nec interdum felis, ac tincidunt odio. Vestibulum in libero id enim interdum cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum euismod orci eros, eget hendrerit sapien facilisis tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a accumsan velit. Integer sit amet mauris tortor. Donec sit amet commodo nulla.</p>
  </section>
  <section class="section top right">
    <div class="placeholder">
  </section>

<section class="section bottom left">
    <h2> Leave a Comment</h2>
    <form class="comment-form"> 
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="What is your name.."><br>
      <label for="comment">Comment</label>
      <textarea id="comment" name="comment" placeholder="What would you like to say..."></textarea>
      <input type="submit" value="Submit">
    </form>
  </section>

  <section class="section bottom right">
    <h2>Recent Comments</h2>
    <section class="comment">
      <h4>Username - Posted Monday 07/22/20</h4>
      <p>This is a comment</p>
    </section>
   
  </section>

</section>
  {% endblock %}
