<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<header>
		<nav>
  		<img src="./assets/logo.png" class="logo" alt="Kink.com Logo"> </a>
		</nav>
</header>
<main class="container">
	{% block content %}{% endblock %}
</main>
<footer>
	{% block footer %}
	{% endblock %}
</footer>
</body>
</html>
